#banner {
  height: 220px;
  width: 100%;
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/healthy-groceries-1525213305.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-position: left;
  background-size: auto;
}
