#banner {
  height: 220px;
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/healthy-groceries-1525213305.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-position: left;
  background-size: auto;
  display: flex;
  align-items: center;
}
#bannerChild {
  margin: 0px 10%;
  width: 50%;
}
#bannerChild h1 {
  font-size: 50px;
  margin-bottom: 0;
}
