.App{
    width: 200px;
    margin: 2% auto;
}
#items{
    border: 1px solid gray;
}
#items div{
    height: 30px;
    display: flex;
    align-items: center;
}
input{
    width: 70%;
    height: 90%;
    border: 0;
}
input:focus {
    outline: none;
  }
#btnAdd{
    width: 30%;
    height: 100%;
    border: 0;
    border-left: 1px solid gray;
}
hr{
    margin: 0;
}
.cross{
    border: oldlace;
    background: transparent;
    font-weight: 600;
    font-size: 17px;
}
#paraEmpty{
    color: red;
}