.App{
	margin: 2%;
    height: 500px;
    display: flex;
	align-items: center;
    justify-content: center;
}
.App >div{
	height: 450px;
    width: 95%;
	background-size: 100% 100%;
	text-align: center;
}
button{
	margin: 1%;
	font-size: unset;
    height: 40px;
	width: 100px;
}

